<form action="/User/ViewRecord" method="POST" class="form-signin" style="margin-top: 8%; margin-left: 30%;margin-right: 30%;border: 1px solid green;padding: 8px;">
	<h2 class="form-signin-heading">Please sign in...</h2>

	<input type="text" class="form-control" placeholder="Email address" name="email">
	<input type="password" class="form-control" placeholder="Password" name="password">
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	
</form>