<div class="container" style="margin-top: 4%; border: 1px solid green;padding: 15px;">
  <div class="jumbotron">
    <h1>Survey Form </h1>

    <h2>Get Started by sign up</h2>
    <a href="/User/index" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>