<div class="container">
  <div class="jumbotron">
    <h1>Survey Form </h1>

    <h2>Get Started by sign up</h2>
    <a href="/user/index" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>