<form action="/Surveys/create" method="GET" style="margin-top: 8%; margin-left: 30%;margin-right: 30%;border: 1px solid green;padding: 15px;" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading" style="margin-top:0px">Create Surveys Details </h2>


	<div class="control-group">
	<input type="text" class="form-control" placeholder="Title of survey" name="Title">
	</div>

	<div class="control-group">
	<input type="text" class="form-control" placeholder="Description" name="Description">
	</div>
	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="Created Date" name="CreatedDate">
	</div>

	<div class="control-group">
	<input type="text" class="form-control" placeholder="Expires On" name="ExpiresOn">
	</div>

	<div class="control-group">
	<input type="text" class="form-control" placeholder="Created By" name="CreatedBy">
	</div>
	
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Save"/>
	<a class="btn btn-lg btn-primary btn-block" href="/Surveys/EditSurvey/">View all Survey's detail</a>
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>